@font-face {
    font-family: 'hey_novemberregular';
    src: url('../css/font/hey_november-webfont.woff2') format('woff2'),
         url('../css/font/hey_november-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


/* COLOR SYSTEM */
html:root{
    --grey: #2b2b28;
    --golden: #e3b04b;
    --yellow: #f1d6ab;
}
.bg-grey{
    background-color: var(--grey);
}
.bg-golden{
    background-color: var(--golden);
}
.bg-yellow{
    background-color: var(--yellow);
}
.bg-contact{
    background-image: url("../medias/flour-bg-contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.text-golden{
    color: var(--golden);
}


/* FONT SYSTEM */
body{
    font-family: Montserrat;
}
strong{
    font-family: Montserrat;
    font-weight: 700;
}

/* MAP */
#map{
    height:300px;
    width: 100%;
}
