.bg-contact{
    background-image: url("../medias/flour-bg-contact.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* MAP */
#map{
    height:300px;
    width: 100%;
}
