.bg-contact{
    background-image: url("../medias/flour-bg-contact.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.about{
    line-height: 2.7rem;
}

/* MAP */
#map{
    height:300px;
    width: 100%;
}



@media (min-width: 768px) and (max-width: 991.98px) {
    .bg-contact{
    background-image: url("");
}

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .bg-contact{
        background-image: url("");
    }
}

@media (max-width: 575.98px) {
    .bg-contact{
        background-image: url("");
    }
}
