/*-------------SECTION ENTETE BACKER OF FRANCE----------------------*/
.bg-poudre-entete{
    background-image: url("../medias/poudre-mystere.png");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: contain;
}

.heyNovember-font{
    font-family: 'hey_novemberregular';
    font-size: 2.5rem;
}

/*MEDIA QUERIES CUSTOM*/
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .bg-poudre-entete{
        // background-image: url("");
        background-position: 140% 0%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .bg-poudre-entete{
        // background-image: url("");
        background-position: 150% 0%;
    }
    .heyNovember-font{
        font-family: 'hey_novemberregular';
        // font-size: 50px;
    }
 }
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .bg-poudre-entete{
        // background-image: url("");
        background-position: 170% 0%;
    }
    .heyNovember-font{
        font-family: 'hey_novemberregular';
        // font-size: 45px;
    }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .bg-poudre-entete{
        // background-image: url("");
        background-position: 215% 0%;
    }
    .heyNovember-font{
        font-family: 'hey_novemberregular';
        // font-size: 25px;
    }
}
/*------------------------------------------------------------------*/