

.bg-gourmandise{
    background-color:var(--yellow);
}
p{
    font-size: 1rem;
}
.f-hey{
    font-family: 'hey_novemberregular';
}
  .w-20{
    width: 121px;
    height: 130px;
}  
.buche{
    min-height: 150px;
}
.tm{
    min-width:200px ;
}