.w-20{
    width: 121px;
    height: 130px;
}  
.tm{
    min-width:200px ;
}


@media (max-width: 575.98px) {
    .w-20{
        width: 70px;
        height: 70px;
    }
    .tm{
        min-width:200px ;
    }
    .sp{
        padding: 0;
    }
}
.wow {
    visibility: hidden;
  }








  