.w-20{
    width: 121px;
    height: 130px;
}  
.tm{
    min-width:200px ;
}


@media (max-width: 575.98px) {
    .w-20{
        width: 70px;
        height: 70px;
    }
<<<<<<< HEAD
    h2{
        font-size: 
        26px;
    }
=======
>>>>>>> e1cd05e5c5ea7ef091e29c21247f1f48f0db40f5
    .tm{
        min-width:200px ;
    }
    .sp{
        padding: 0;
    }
}